<!-- This the page to add new games to your collection to display on collection.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Add game</title>
</head>
<body>
    <div class="nav4">
        <h1>Add Game</h1>
        <button class="dashboard">Dashboard</button>
    </div>

    <div class="addgame-container">
        <div class="add-game-title">
            <p>Game Nights can't function without Games!</p>
            <p>Add a new one you have to the collection here</p>
        </div>
    
        <div class="game-description">
            <span class="details">Name of Game</span>
            <br>
            <input type="text" placeholder="Enter your Game" >
            <br>
            <span class="details">Type of Game</span>
            <br>
            <input type="text" placeholder="Enter type of game" >
        </div>
    </div>


    </div>
</body>
</html>