<!-- This is the main page for the dashboard -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Home Page</title>
</head>
<body>
    <nav class="navbar2">
        <div class="logo2-container">
          <p class="logo2">L.F.G</p>
        </div>
        <div class="logout-container">
          <button class="logout">Logout</button>
        </div>
      </nav>


      <div class="user1">
        <h1>Welcome Back to L.F.G, Deshawn</h1>
        <input type="text" class="search-bar" placeholder="Search...">
      </div>



      <div>
        <p>Location:</p>
        <p>Upcoming Game Nights</p>
      </div>



      <div class="games-profiles">
        <h4 class="gamenights">game nights will be posted here</h4>
        <table>
          <tr>
            <th><a href="#">My Profile</a></th>
          </tr>
          <tr>
            <th><a href="#">My Game Collection</a></th>
          </tr>
          <tr>
            <th><a href="#">Past Game Night</a></th>
          </tr>
          <tr>
            <th><a href="#">Edit Profile</a></th>
          </tr>
        </table>
    </div>

    

    <div class="host-addgame">
      <button class="logout">Host A Game Night</button>
      <button class="logout">Add A new Game To your Collection</button>

    </div>

</body>
</html>