<!-- This is the main page for the dashboard -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Home Page</title>
</head>
<body>
    <nav class="navbar2">
        <div class="logo2-container">
          <p class="logo2">L.F.G</p>
        </div>
        <div class="logout-container">
          <a href="/logout" class="button">Logout</a>
        </div>
      </nav>


      <div class="user1">
        <h1>Welcome Back to L.F.G, {{user.first_name}}</h1>
        <input type="text" class="search-bar" placeholder="Search...">
      </div>



      <div>
        <p>Location:</p>
        <p>Upcoming Game Nights</p>
      </div>



      <div class="games-profiles">
        <h4 class="gamenights">game nights will be posted here</h4>
        <table>
          <tr>
            <th><a href="/user/{{user.id}}">My Profile</a></th>
          </tr>
          <tr>
            <th><a href="/collection">My Game Collection</a></th>
          </tr>
          <tr>
            <th><a href="/gamenights">My Game Nights</a></th>
          </tr>
          <tr>
            <th><a href="/rate">Past Game Night</a></th>
          </tr>
          <tr>
            <th><a href="/user/edit/{{user.id}}">Edit Profile</a></th>
          </tr>
        </table>
    </div>

    

    <div class="host-addgame">
      <a href="/new/night" class="button">Host A Game Night</a>
      <a href="/new/game" class="button">Add A new Game To your Collection</a>
    </div>

</body>
</html>