<!-- This is the page for editing a profile! -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Edit Profile</title>
</head>
<body>
    <div class="container">
        <div class="title">Edit Profile Information</div>
        <div class="content">
          <form action="#">
            <div class="user-details">
              <div class="input-box">
                <span class="details">First Name</span>
                <input type="text" placeholder="Enter your name" required>
              </div>
              <div class="input-box">
                <span class="details">Last Name</span>
                <input type="text" placeholder="Enter your username" required>
              </div>
              <div class="input-box">
                <span class="details">Email</span>
                <input type="text" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <span class="details">Phone Number</span>
                <input type="text" placeholder="Enter your number" required>
              </div>
              <div class="input-box">
                <span class="details">Password</span>
                <input type="text" placeholder="Enter your password" required>
              </div>
              <div class="input-box">
                <span class="details">Confirm Password</span>
                <input type="text" placeholder="Confirm your password" required>
              </div>
            </div>
            <div class="option-details"> 
              <span class="host-title">Can You host?</span>
              <div class="category">
                <label for="option">Select Option:</label>
                <select id="option" name="option">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
              </div>
            </div>
            <div class="button">
              <input type="submit" value="Edit Profile">
            </div>
          </form>
        </div>
      </div>
</body>
</html>