<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>My Game Nights</title>
</head>
<body class="bg-blue-400">
    <div class="nav7 flex justify-between items-center py-4 px-8 bg-blue-900 text-white">
        <h1 class="text-2xl font-bold">My Game Nights</h1>
        <a href="/dashboard" class="dashboard button bg-red-500 hover:bg-red-600">Dashboard</a>
    </div>

    <div class="d-flex justify-content-center">
    {% for night in game_nights %}
    <div class="card bg-blue-400 text-white rounded border border-black p-3">
        <img src="{{ night.game_image }}" alt="Game Image" class="w-full h-48 object-cover">
        <div class="card-body">
            <h5 class="card-title text-lg font-bold">Am I hosting?: {{ night.host }}</h5>
            <p class="card-title text-lg font-bold">If not, who is?: {{ night.alt_host }}</p>
            <p class="card-title text-lg font-bold">Player Amount: {{ night.player_amount }}</p>
            <p class="card-title text-lg font-bold">Game Time: {{ night.game_time.strftime('%I:%M %p') }}</p>
            <p class="card-title text-lg font-bold">Location: {{ night.game_location }}</p>
            <p class="card-title text-lg font-bold">Date: {{ night.game_date.strftime('%B %dth, %Y') }}</p>
            <p class="card-title text-lg font-bold">Description: {{ night.night_description }}</p>    
        </div>
        <div class="card-body mt-2 mb-2 flex justify-center space-x-96">
            <a href="/gamenights/{{night.id}}/edit" class="card-link button bg-green-500 hover:bg-blue-600">Edit Details</a>
            <a href="/gamenights/{{night.id}}/delete" class="card-link button bg-yellow-500 hover:bg-yellow-600">Delete</a>
        </div>
    </div>
    {% endfor %}
    </div>
</body>
</html>
