<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Profile Page</title>
</head>
<body class="bg-blue-400">
    <div class="nav3 flex justify-between items-center py-4 px-8 bg-blue-900 text-white">
        <h1 class="text-2xl font-bold">My Profile</h1>
        <a href="/dashboard" class="dashboard button bg-red-500 hover:bg-red-600">Dashboard</a>
    </div>

    <div class="container mx-auto mt-8">
        <div class="flex justify-center">
            <div class="max-w-sm bg-gray-300 p-8 rounded border-2 border-black overflow-hidden shadow-lg">
                <div class="px-6 py-4">
                    <h2 class="text-lg font-bold mb-2">Profile Picture</h2>
                    <img src="{{user.image}}" alt="Profile Picture" class="w-full">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="text-gray-700 text-base mb-2">User Description:</p>
                        <ul class="list-disc pl-6">
                            <li>{{user.user_description}}</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <p class="text-gray-700 text-base mb-2">Location:</p>
                        <ul class="list-disc pl-6">
                            <li>{{user.user_location}}</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <p class="text-gray-700 text-base mb-2">Can Host?</p>
                        <ul class="list-disc pl-6">
                            <li>{{user.can_host}}</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <p class="text-gray-700 text-base mb-2">Contact information:</p>
                        <ul class="list-disc pl-6">
                            <li>Email: {{user.email}}</li>
                            <li>Phone: {{user.phone_number}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
